#bem_vindo {
	height: 200px;
	top: 100px;
	left: 100px;
	font-size: 40pt;
}

body {
	font-family: verdana, sans-serif;
	font-size: 0.8em;
	background-color: black;
	color: orange;
}

nav {
	border: 5px solid white;
	margin: 5px;
	font-size: 1em;
	padding: 6px;
}

nav {
	background-color: #000000;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 5px;
}