body {
	background-color: black;
	color: white;
	font-family: "Arabic Typesetting";
	font-size: 18px;
	margin-top: 1em;
	background-image: url(black.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
}

table {
	margin-right: auto;
	margin-left: auto;
}

#tabe {
	margin-right: auto;
	margin-left: auto;
	padding: 80px 80px;
	width: 500px;
	height: 30px;
	border-radius: 29px;
	font-size: 31px;
	text-align: center;
}

#tabo {
	margin-right: auto;
	margin-left: auto;
	border: 5px solid #a1a1a1;
	padding: 10px 10px;
	background: #4d4d4d;
	width: 500px;
	height: 30px;
	border-radius: 29px;
	font-size: 31px;
	text-align: center;
}