body {
	font-family: verdana, sans-serif;
	font-size:12px;
	background-color: #171616;
	color: rgb(245, 242, 242);
}

nav {
	border: 5px solid #efe7e7;
	margin: 5px;
	padding: 4px;
}

nav {
	background-color: #0c0c0c;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 5px;
}